In [3]:
3 + 4
7 + 9

16

In [1]:
print(3 + 4)
print(7 + 9)

7
16

In [2]:
# int x = 1;
x = 1 # Python doesn't need to specify the type of variable
print(x)

x = 9
print(x)

x = 9.5
print(x)

x= True # Python: True, Java: true
print(x)

1
9
9.5
True

In [3]:
name = "John"
print(name)

name = 'John'
print(name)

print("Hello World!!!")

print("Hello World", "!!!") # added space

John
John
Hello World!!!
Hello World !!!

In [ ]:
# Naming Convention
# Java: CameLCase style for variable name: isMale = true
# Python: underscore: is_male = True

is_student = False

# Invalid naming convention
# 2name = "Steven" # error (cannot start with number)
# Last-name = "Lau" # error (cannot start with uppercase and contain an "-")

In [ ]:
# Math
# multiply *
print(3 * 8)
print("hello" * 2)

# divide /
print(10 / 3)
# print(10 / 0) # division by zero

24
hellohello
3.3333333333333335

ZeroDivisionError: division by zero

In [10]:
# Java has 8 primitives
# Python
y = 3
print(type(y))
y = 3.4
print(type(y))
y = "bootcamp"
print(type(y))
y = True
print(type(y))

print("Age" + str(23))
print("Age" + str(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
Age23
AgeTrue

In [11]:
name = "Jennie"
age = 27
print(f"The student is {name}, and the age is {age}.")

The student is Jennie, and the age is 27.

In [14]:
# Case sensitive?
# Python: Strong type and Dynamic?
name1 = "John"
name2 = "john"
name3 = "John"
print(name1 == name2)
print(name1 == name3)

False
True